<!DOCTYPE html>
<html>
	<body>

		<h1>New Book</h1>
            Name:
            <form action="{{url_for('newBook')}}" method = 'POST'>
                <input type='text' size='30' name='title'>
                <input type='submit' value='Create'>
                <a href="{{url_for('showBook')}}">Cancel</a>
            </form>

</body>
</html>