<!DOCTYPE html>
<html>
	<body>

        <h1>Books</h1>
        
            {% for book in books %}
                <div>
                    <p>{{book.title}}<br>
                        
                        <a href="{{url_for('editBook', book_id=book.id)}}">Edit books</a>  <br>
                        <a href="{{url_for('deleteBook', book_id=book.id)}}">Delete books</a>		
                     </p>
                </div>
            {% endfor %}
</body>
</html>